.apropos,
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  padding: 100px 10%;
  background: #fff;
}

.aproposText,
.menuText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.apropos img,
.menu img {
  width: 100%;
  border-radius: 10px;
}

.imgApropos,
.imgMenu {
  width: 100%;
}

.aproposDetailles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

section h3 {
  font-size: 32px;
  margin-bottom: 15px;
}
